<!doctype html>
<!-- gallery application -->
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>benstagram: {% block title %}{% endblock %}</title>
    <meta name="Gallery app project" content="benstagram">
    <meta name="Ben Mcallister" content="SitePoint">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
</head>


    <section>
        <body style="background-color: #FAFAFA;">
        <!-- <div>
            <li class="nav-item"><a class="nav-link" href="/"><h1 class="maintitle">benstagram</h1></a></li>
        </div> -->
        <div class="navbar" id="navbar">
                    {% if session.user_id %}
                    <div>
                        <ul class="navbar-nav-main" style="list-style-type: none; margin: 0; padding: 0;">
                            
                            <li class="nav-item"><a class="nav-link" href="/"><h1 class="maintitle">benstagram</h1></a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="/gallery">Home</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li class="nav-item"><a class="nav-link" href="/favourites">Favourites</a></li>
                            <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                            
                        
                            <div id="search">
                                <form action="/search" method="POST" enctype="multipart/form-data">
                                    <input autocomplete="off" type="text" name="search" placeholder="Search">
                                    
                                </form>
                            </div>
                        
                        </ul>
                    </div>
                    {% else %}
                        <ul class="navbar-nav-main" style="list-style-type: none; margin: 0; padding: 0;">
                            <li class="nav-item"><a class="nav-link" href="/login"><h1 class="maintitle">benstagram</h1></a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                            
                            
                        </ul>
                        
                        
                    {% endif %}
                    
                </div>
            
        
        {% block main %}
        {% endblock %}
    </section>
    
    <!-- NEED TO SORT OUT THIS FOOTER!!!! -->

    <!-- <footer>
        <p>Author: Ben Mcallister   <a href="mcallister_ben@yahoo.co.uk">mcallister_ben@yahoo.co.uk</a></p>
    </footer> -->

</body>
</html>