{% extends "layout.html" %}
<!-- gallery application -->
{% block title %}
    Log In
{% endblock %}

{% block main %}

<h1 class="page-title">Login</h1>

<p style="text-align: center;">Hi, welcome to the photo sharing website benstagram, please login or register.</p>
<div>


<div class="login">
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
</div>

</div>
{% endblock %}
